<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>609175714283-3ngds1phujinlnl164761u1banbjpcuo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.609175714283-3ngds1phujinlnl164761u1banbjpcuo</string>
	<key>API_KEY</key>
	<string>AIzaSyCfpss5y4XAMMrV47glsng8qvT1IcY9tJk</string>
	<key>GCM_SENDER_ID</key>
	<string>609175714283</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.AddPost</string>
	<key>PROJECT_ID</key>
	<string>addpost-b2d62</string>
	<key>STORAGE_BUCKET</key>
	<string>addpost-b2d62.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:609175714283:ios:f03d102f9f8b3c4ed441ae</string>
</dict>
</plist>